<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gists of Fury</title>

    <% pure_modules = %w{base grids}.map { |m| "pure/0.3.0/#{m}-min.css" } %>
    <link rel="stylesheet" href="//yui.yahooapis.com/pure/0.3.0/base-min.css">
    <link rel="stylesheet" href="//yui.yahooapis.com/combo?<%= pure_modules.join("&amp;") %>">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/syntax.css">
  </head>
  <body>

  <div class="pure-g-r" id="layout">
    <div class="sidebar pure-u">
      <header class="header">
        <hgroup>
        <h1 class="title">
          <a href="/">GISTS OF FURY</a>
        </h1>
        <h2 class="tagline">how do i computer</h2>
        </hgroup>
      </header>
      <div class="curator">curated by <a href="http://thatalexguy.com">that alex guy</a>.</div>
    </div>

    <div class="pure-u-1">
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-45055079-1']);
    _gaq.push(['_trackPageview']);

    (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
  </script>
  </body>
</html>
